@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<div class="row">
  <div class="col-sm-6">
    <h1>Baked Good:</h1>
    <h3>Name: @Html.DisplayFor(model => model.Name)</h3>
  </div>
  <div class="col-sm-6">
    <h1>Flavor Profiles:</h1>
    <ul>
      @if (@Model.Flavors.Count == 0)
      {
        <h3>This baked good does not have any flavor profiles noted. Add one with the button below!</h3>
      }
      @foreach(var join in Model.Flavors)
      {
        <li>@Html.ActionLink($"{@join.Flavor.Name}", "Details", "Flavors", new { id = join.FlavorId } )</li>
      }
    </ul>
  </div>
</div>