body {
  font-family: 'Raleway', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header-links {
  text-align: center;
  margin-top: 1%;
}
.feature-link {
  margin-left: 1%;
  margin-right: 1%;
  color: #000000;
  text-decoration: underline;
}

.login-link {
  color: #000000;
  text-decoration: underline;
}

.account-nav {
  text-align: right;
}