@using PierresTreats.Models;
<h1>Directory</h1>
<hr>
<p>A full list of all input bakes and their flavor profiles. To view a baked good's details, click the name of the good below. To view recipes that belong to a certain flavor profile, click that flavor profile in the list below.</p>
<div class="row">
  <div class="col-sm-6">
    <h1>Treats</h1>
    @if (@ViewBag.Treats.Count == 0)
    {
      <h3>No baked goods have been added to Sous Chef</h3>
    }
    @foreach (Treat treat in ViewBag.Treats)
    {
        <p>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId } )</p>
    }
  </div>
  <div class="col-sm-6">
    <h1>Flavor Profiles</h1>
    @if (@ViewBag.Flavors.Count == 0)
    {
      <h3>No flavor profiles have been added to Sous Chef</h3>
    }
    @foreach (Flavor flavor in ViewBag.Flavors)
    {
        <p>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId } )</p>
    }
  </div>
</div>