@{
  Layout = "_Layout";
}

<h1>Sous Chef</h1>
<p>Welcome to Sous Chef! Sous Chef is a tool for bakers to keep track of completed bakes, flavor profiles of completed bakes, and other pertinent info for recipe testing.</p>
<p>To get started, head to the Treats tab and add a record of a baking project you've completed. Enter any details about the baked good as well as any notes or resources to note for your next attempt at the recipe.</p>
<p>Once you have a treat logged, you can assign a flavor profile to the good. This feature allows you to keep meticulous track of the flavor notes of your project to easily reference when you or your customers are in the mood for something particular.</p>
<p>Use the Flavors tab to be able to view recipes that are marked as having the flavor profile you're looking for.</p> 