@{
  Layout = "_Layout";
}

<h1>Sous Chef</h1>
<p>Welcome to Sous Chef! Sous Chef is a network for hobby bakers to keep track of completed bakes, share recipes, search for baking projects by flavor profile, and share pertinent info for recipe testing.</p>
<p>To get started, head to the Baked Goods tab and add a record of a baking project you've completed. Enter any details about the baked good as well as any notes or resources to share for your (or another user's) next attempt at the recipe.</p>
<p>Once you have a baked good logged, you can create & assign a flavor profile to the good from within the baked good's entry. You can use the Flavor Profile tab to navigate through all of Sous Chef's baked goods by flavor profile - perfect for when you are in the mood for something that you can't quite put a finger on.</p>
<p>Stuck in a baking rut? Use the Directory tab to search Sous Chef's entire database for baking projects and/or flavor profiles that may inspire you.</p>
<p>Sous Chef is a place to share & compare notes. All input bakes & flavors will be accesible for others to view and learn from. To access only your own input bakes, use the "My Bakes" tab.</p> 