@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h1>Add a flavor profile:</h1>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("Treats")

  <input type="submit" value="Save" />
}