@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h1>Add a flavor profile:</h1>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" class="btn btn-default" />
}
<p>If you aren't able to find a flavor profile that fits your baked good, you can @Html.ActionLink("add a baked good here.", "Create", "Treats")</p>